{% extends "_base.html" %}

{%block title%}Categories Page{%endblock title%}

{%block content%}
<h1>Categories Page</h1>
<tr>
    <td>Categories</td>
    <td><select name="Categories">
    <option value="-1" selected>select..</option>
    <option value="Ladies clothing">Ladies clothing</option>
    <Option value="Kiddies shoes and clothing">Kiddies shoes and clothing</Option>
    <option value="Mans clothing and fashionable shoes">Mans clothing and fashionable shoes</option>
    <option value="Caps and hoodies">Caps and hoodies</option>
    </select></td>
    </tr>



{%endblock content%}
